// the language switcher style
.wp-block-polylang-language-switcher {
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  line-height: 1;
  align-items: center;

  i {
    line-height: 1;
  }
}
