$mq__tablet-portrait: "(max-width: 768px)";
$mq__smaller-than-tablet: "(max-width: 600px)";
// $white = var(--color__white);
// $margin =  var(--size__margin);
// $margin-large = var(--size__margin-large)
// $gray-400 = var(--color__gray-400)
// $size-small = var(--text__size-small)
// $margin-half = var(--size__margin-half)
// $padding-half = var(--size__padding-half)
// $padding-small = var(--size__padding-small)

$white : #fff;
$margin :  8px;
$margin-large : 16px;
$gray-400 : #888;
$size-small : 4px;
$margin-half : 12px;
$padding : 20px;

$card-width : 500px;
$header-height: 60px;
